<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title><%= articulo.titulo %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1><a href="/">Mi Web de Gimnasio</a></h1>
    <nav>
      <a href="/categoria/<%= categoria.id %>"><%= categoria.nombre %></a>
    </nav>
  </header>

  <main>
    <h2><%= articulo.titulo %></h2>
    <div>
      <%- articulo.contenido %>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Adrián</p>
  </footer>
</body>
</html>
