<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title><%= categoria.nombre %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1><a href="/">Mi Web de Gimnasio</a></h1>
  </header>

  <main>
    <h2><%= categoria.nombre %></h2>
    <ul>
      <% categoria.articulos.forEach(art => { %>
        <li><a href="/categoria/<%= categoria.id %>/articulo/<%= art.id %>"><%= art.titulo %></a></li>
      <% }) %>
    </ul>
  </main>

  <footer>
    <p>&copy; 2025 Adrián</p>
  </footer>
</body>
</html>
